@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.flip-text {
    display: inline-block;
    transition: transform 2s ease-in-out;
  }

.animate-input {
    transition: width 0.5s ease-in-out;
  }
  .animate-input.hide {
    width: 0;
  }
  