<au-compose containerless parent-view-model.bind="$this" component.bind="header"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.bind="actionMessage"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.bind="chatMessage"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.bind="drawer"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.bind="gameOver"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.bind="guessLetter"></au-compose>
<au-compose containerless parent-view-model.bind="$this" component.ref="gwRef" component.bind="guessWord"></au-compose>
<div class="bg-gradient-to-r from-green-400 to-blue-500 text-white p-4 fixed bottom-[-3px] left-0 h-[3rem] w-full z-40">

</div>