<div class="drawer">
    <input id="history-drawer" type="checkbox" class="drawer-toggle" checked.bind="showHistory"/>
    <div class="drawer-content">
      <canvas id="renderCanvas"></canvas>
    </div>
    <div class="drawer-side mt-[5rem]">
      <label for="history-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <li class="pt-2">
          <div class="flex items-center bg-white rounded-lg shadow-lg">
            <input value.bind="message" class="flex-1 p-2 rounded-l-lg" type="text" placeholder="Type your message...">
            <button click.trigger="sendMessage()" class="bg-blue-500 p-2 rounded-r-lg text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
              </svg>
            </button>
          </div>          
        </li>
        <li repeat.for="item of reversedHistory" class="hover:bg-gray-200 rounded p-2 text-center">
          <div class="alert shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div if.bind="!item.type">
              <h3 class="font-bold">${item.yours ? 'Your Action' : 'Opponent Action'}</h3>
              <div class="text-xs" style="text-wrap: pretty">${item.item}</div>
            </div>
            <div if.bind="item.type" class="chat ${item.yours ? 'chat-start' : 'chat-end w-full'}">
              <div class="chat-header">
                ${item.yours ? 'Your' : 'Opponent'} ${item.type}
              </div>
              <div class="chat-bubble !bg-blue-500">${item.item}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>  
