<div class="modal modal-open" if.bind="showGuessLetterModal">
    <div class="modal-box">
      <h2 class="text-lg">Guess a Letter</h2>
      <div class="flex space-x-2">
        <input repeat.for="position of guessedPositions"
                type="text" 
                value.bind="position" 
                placeholder="-" 
                maxlength="1"
                input.trigger="updateGuess($index, $event.target.value)"
                class="input input-bordered w-8 text-center p-0">
      </div>
      <div class="modal-action">
        <button class="btn btn-primary" click.trigger="submitLetterGuess()">Submit Guess</button>
        <button class="btn" click.trigger="toggleGuessLetterModal()">Close</button>
      </div>
    </div>
  </div>